html, body {
  height: 100%;
  margin: 0;
}

* { box-sizing: border-box; }


.app {
  height: 100%;
}

.rm_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  background-color: beige;
}

#document_grid {
  margin-top: 20px;
}

.folder {
  background-color: wheat;
  border: 1px solid black;
  height: 30px;
}

.document {
  background-color: wheat;
  border: 1px solid black;
  height: 100px;
}
